.catalog-menu * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog-menu {
  display: none;
  position: relative;
  max-width: 1480px;
  min-width: 320px;
  margin: auto;
  height: calc(100vh - 192px);
  min-height: 280px;
  overflow: hidden;
  z-index: 100;
}

.catalog-menu .catalog-wrapper {
  display: none;
  position: absolute;
  left: 100%;
  width: 280px;
  border: 2px solid #82c6ff;
  border-top: 0;
  background-color: white;
}

.catalog-menu .catalog-wrapper.catalog-root {
  display: block;
  left: 0;
  height: 100%;
}

.catalog-menu .catalog-wrapper ul {
  list-style: none;
}

.catalog-menu .catalog-wrapper ul li:hover {
  background-color: #edf6fe;
}

.catalog-menu .catalog-root ul a {
  padding: 0 45px ;
}

.catalog-menu .catalog-root ul ul a {
  padding: 0 30px;
}

.catalog-menu .catalog-wrapper a {
  position: relative;
  display: table-cell;
  width: 280px;
  height: 50px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
  padding: 0 30px;
}

.catalog-menu .catalog-wrapper a:hover {
  color: #909396;
}

.catalog-menu .catalog-wrapper hr {
  margin: 0;
}

.catalog-menu .catalog-wrapper .item_icon,
.catalog-menu .catalog-wrapper .arrow_right {
  position: absolute;
  top: calc(50% - 8px);
  width: 15px;
}

.catalog-menu .catalog-wrapper .item_icon {
  left: 15px;
}

.catalog-menu .catalog-wrapper .arrow_right {
  right: 10px;
}

#menuCatalogSection .catalogButton {
  width: 281px;
}

/* ALPHACATALOG */
.alphacatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.alphacatalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.alphacatalog .alpha {
  margin-bottom: 30px;
}
.alphacatalog .alpha__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.alphacatalog .alpha__one a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  border-bottom: 1px dashed #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.alphacatalog .alpha__one a:hover {
  font-weight: bold;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-bottom: 1px dashed #000;
}
.alphacatalog .alpha__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.alphacatalog .alpha__two a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.alphacatalog .alpha__list {
  padding: 0;
  margin-right: auto;
}
.alphacatalog .alpha__list:last-child {
  margin-right: 0;
}
.alphacatalog .alpha__list h1 {
  margin-bottom: 0;
}
.alphacatalog .alpha__list hr {
  border: none;
  background: #D8D8D8;
  height: 1px;
  margin-bottom: 3px;
}
.alphacatalog .alpha__list ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.alphacatalog .alpha__list ul li a {
  text-decoration: none;
  color: #000;
}
.alphacatalog .alpha__list ul li a:hover {
  color: #3498D8;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content-tab {
  display: none;
}

.active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 991px) {
  .alphacatalog .alpha__one a {
    font-size: 15px;
    border-bottom: none;
    margin-right: 5px;
  }
  .alphacatalog .alpha__one a:hover {
    border-bottom: none;
  }
  .alphacatalog .alpha__two a {
    line-height: 23px;
    font-size: 15px;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .alphacatalog .alpha__one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alphacatalog .alpha__one a {
    margin-right: 0;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 14px;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .alphacatalog .alpha__one a {
    font-size: 14px;
  }
  .alphacatalog .alpha__two a {
    line-height: 25px;
    font-size: 14px;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 12px;
  }
}
