/* DROP MENU */

.catalog_container {
  position: relative;
}

.catalog_container * {
  box-sizing: border-box;
}

.catalog_wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  border: 2px solid #82c6ff;
  border-top: 0;
  background-color: white;
}

.catalog_root {
  left: 0;
}

.catalog_list {
  list-style: none;
  width: 280px;
  padding: 0;
  margin: 0;
}

.catalog_menu {
  position: relative;
  z-index: 100;
}

.catalog_menu li:hover {
  background-color: #edf6fe;
}

.catalog_menu a {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  padding: 10px 25px;
}

.catalog_menu a:hover {
  color: #909396;
}

.catalog_menu span{
  display: block;
  padding-left: 20px;
}

.catalog_menu .item_icon,
.catalog_menu .item_next {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 15px;
}

.catalog_menu .item_icon {
  left: 10px;
}

.catalog_menu .item_next {
  right: 10px;
}

.catalog_menu .item_down {
  transform: rotate(90deg);
  position: fixed;
  bottom: 10px;
  margin-left: -15px;
  width: 30px;
}

.catalog_menu hr {
  margin: 0;
}

#menuCatalogSection .catalogButton {
  width: 281px;
}

/* ALPHACATALOG */
.alphacatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.alphacatalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.alphacatalog .alpha {
  margin-bottom: 30px;
}
.alphacatalog .alpha__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.alphacatalog .alpha__one a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  border-bottom: 1px dashed #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.alphacatalog .alpha__one a:hover {
  font-weight: bold;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-bottom: 1px dashed #000;
}
.alphacatalog .alpha__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.alphacatalog .alpha__two a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.alphacatalog .alpha__list {
  padding: 0;
  margin-right: auto;
}
.alphacatalog .alpha__list:last-child {
  margin-right: 0;
}
.alphacatalog .alpha__list h1 {
  margin-bottom: 0;
}
.alphacatalog .alpha__list hr {
  border: none;
  background: #D8D8D8;
  height: 1px;
  margin-bottom: 3px;
}
.alphacatalog .alpha__list ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.alphacatalog .alpha__list ul li a {
  text-decoration: none;
  color: #000;
}
.alphacatalog .alpha__list ul li a:hover {
  color: #3498D8;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content-tab {
  display: none;
}

.active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 991px) {
  .alphacatalog .alpha__one a {
    font-size: 15px;
    border-bottom: none;
    margin-right: 5px;
  }
  .alphacatalog .alpha__one a:hover {
    border-bottom: none;
  }
  .alphacatalog .alpha__two a {
    line-height: 23px;
    font-size: 15px;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .alphacatalog .alpha__one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .alphacatalog .alpha__one a {
    margin-right: 0;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 14px;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .alphacatalog .alpha__one a {
    font-size: 14px;
  }
  .alphacatalog .alpha__two a {
    line-height: 25px;
    font-size: 14px;
  }
  .alphacatalog .alpha__list ul li a {
    font-size: 12px;
  }
}
